*{
    background-color: rgb(173, 126, 217);
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
ul{

    background-color:rgb(209, 190, 226) ;

}
.nav-list ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;

    gap : 50px;
    background-color:rgb(209, 190, 226) ;
    padding: 20px;



}


nav img{
    width: 100px;
    height: 100px;
    


}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(209, 190, 226) ;
    padding: 20px;
    border-radius: 20px;

}
body{
    padding: 40px;
}




.cont{
    background-color: rgb(209, 190, 226) ;
    padding: 40px;
    gap: 30px;
    position: relative;
    top: 50px;
    border-radius: 20px;





}

.cont img{
    float: left;
    padding:10px;
    width: 300px;
    height: 200px;
    
    
}
.cont p{
    background-color: rgb(209, 190, 226);
    padding: 20px;
   
}

.cont{
    padding: 100px;
    display: flex;
}

.name{
    padding: 20px;
    font-size: large;
    font-size: 150px;
    border-radius: 20px;
}

.contact{
    width: 100px;
    height: 100px;
    z-index: 1;

}
.contact{
    background-color: rgb(209, 190, 226);
    padding: 20px;
    border-radius: 20px;
    width: auto;
    display: flex;
}

.contact ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px
}
.nav-list ul li a{
    padding: 10px;
    border-radius: 20px;
    
}
.contact ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 500px;

}
.contact li{
    padding: 20px;
    border-radius: 20px;

}

.nav-list li{
    padding: 10px;
    border-radius: 20px;
    text
}
